Content/MetaHumans/Bernice/Face/Bernice_FaceMesh.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/Common/Face/Face_Archetype.uasset filter=lfs diff=lfs merge=lfs -text
Content/MetaHumans/Common/Materials/Slacks/btm_slacks_N.uasset filter=lfs diff=lfs merge=lfs -text
